.tableContainer {
    display: flex;
    justify-content: center;
}
.tableBar {
    width: 20%;
    max-height: 100vh;
    background: #ECECF9;
    border-radius: 8px;
}
.items {
    background: #ECECF9;
    border-radius: 8px;
}
.item {
    max-height: 100vh;
    background: #FEFEFF;
    border-radius: 8px;
    align-items: center;
}
.columnName {
    height: 50px;
    align-items: center;
    background: #ECECF9;
}
.columnName td {
    display: flex;
    justify-content: space-between;
}
.tableButtons {
    display: flex;
}
td {
    min-width: 60px;
}